<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <title>{{ current_page.meta.title|default('')|escape }}</title>
  <link rel="canonical" href="{{ current_page.path }}" />
{% endblock %}
</head>
<body>
<header>
{% block header %}
{% endblock %}
</header>
<main>
{% block main %}
{{ current_page.content }}
{% endblock %}
</main>
<footer>
{% block footer %}
{% endblock %}
</footer>
</body>
</html>
